{{> menu }}
{{> heading }}

<div class="columns">
  <div class="column is-5">
    <figure class="image">
      <img class="object-fit" src="/ce.png" alt="homer" />
    </figure>
  </div>
  <div class="column">
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="fas fa-file"></i></span><span>Enter Report Details</span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{> report-form}}
        </div>
      </div>
    </div>
  </div>
</div>